src/main/mule/test-api-spec.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="test-api-spec-config" api="resource::09ef7674-241d-4c96-84b9-4c9a47ff4b51:test-api-spec:1.0.0:oas:zip:test-api-spec.yaml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" parser="AMF"/>
    <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a61a8a30-5fb9-44e8-b7ce-af7db6fd626e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test-api-spec-main">
        <http:listener config-ref="HTTP_Listener_config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="test-api-spec-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\healthcheck:test-api-spec-config">
        <logger level="INFO" message="get:\healthcheck:test-api-spec-config" />
    </flow>
    <flow name="get:\payments\history\(userId):test-api-spec-config">
        <ee:transform doc:name="Transform Message">
            <ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
			<ee:variables>
                <ee:set-variable variableName="userId"><![CDATA[attributes.uriParams.'userId']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\payments\history\(userId):test-api-spec-config" />
    </flow>
    <flow name="get:\rewards\(userId):test-api-spec-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\rewards\(userId):test-api-spec-config" />
    </flow>
    <flow name="get:\users\(userId):test-api-spec-config">
        <ee:transform doc:name="Transform Message">
            <ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "id": "123e4567-e89b-12d3-a456-426614174000",
  "email": attributes.queryParams.email,
  "userName": attributes.uriParams.userId
}]]></ee:set-payload>
			</ee:message>
			<ee:variables>
                <ee:set-variable variableName="userId"><![CDATA[attributes.uriParams.'userId']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\users\(userId):test-api-spec-config" />
    </flow>
    <flow name="get:\wallet\cards\(userId):test-api-spec-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\wallet\cards\(userId):test-api-spec-config" />
    </flow>
    <flow name="post:\payments:application\json:test-api-spec-config">
        <logger level="INFO" message="post:\payments:application\json:test-api-spec-config" />
    </flow>
    <flow name="post:\rewards\redeem:application\json:test-api-spec-config">
        <logger level="INFO" message="post:\rewards\redeem:application\json:test-api-spec-config" />
    </flow>
    <flow name="post:\users\signin:application\json:test-api-spec-config">
        <logger level="INFO" message="post:\users\signin:application\json:test-api-spec-config" />
    </flow>
    <flow name="post:\users\signup:application\json:test-api-spec-config">
        <logger level="INFO" message="post:\users\signup:application\json:test-api-spec-config" />
    </flow>
    <flow name="post:\users:application\json:test-api-spec-config">
        <logger level="INFO" message="post:\users:application\json:test-api-spec-config" />
    </flow>
    <flow name="post:\wallet\lock:application\json:test-api-spec-config">
        <logger level="INFO" message="post:\wallet\lock:application\json:test-api-spec-config" />
    </flow>
    <flow name="post:\wallet\unlock:application\json:test-api-spec-config">
        <logger level="INFO" message="post:\wallet\unlock:application\json:test-api-spec-config" />
    </flow>
</mule>
